/* Menghubungkan font dan mengatur posisi ke tengah skrin */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #073b00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Reka bentuk kotak */
.kotak-jam {
    background-color: #1eca0e;
    border: 4px solid #0ab126;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 25px rgb(245, 227, 227);
}

/* Gaya untuk angka jam */
#waktu {
    font-size: 60px;
    font-weight: bold;
    color: #b80b0b;
    letter-spacing: 2px;
}

/* Gaya untuk teks tarikh */
#tanggal {
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    text-transform: uppercase;
}

#tanggal-jawa {
    font-size: 18px;
    color: #855702;
    margin-top: 5px;
    font-style: italic;
}
